
* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
 display: flex;
  width: 30%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  display: flex;
  width: 100%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}


/*/ @media (min-width: 576px) { ... }


/* @media (min-width: 768px) { ... }



@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }